@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700)
	;

html {
	font-size: 62.5%;
	box-sizing: border-box
}

*, :after, :before {
	box-sizing: inherit
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 160%;
	font-weight: 300
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: #bfc406
}

img {
	display: block;
	max-width: 100%
}

a {
	font-weight: 700;
	color: #d14348
}

a:focus, a:hover {
	text-decoration: none
}

em {
	font-weight: 700;
	font-size: 140%;
	color: #f3d350;
	font-style: normal
}

.header {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
	background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),
		url(../images/backgrounds/running.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center
}

.header .tagline {
	display: none
}

@media screen and (min-width:600px) {
	.header {
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2),
			rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
		background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),
			url(../images/backgrounds/running.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 100vh;
		max-height: 300px
	}
}

@media screen and (min-width:600px) {
	.header .tagline {
		display: block;
		color: #fff;
		max-width: 40em;
		line-height: 140%;
		font-size: 2.5rem
	}
	.header .tagline h1 {
		display: none
	}
	.header .tagline em {
		font-size: 140%;
		color: #f3d350;
		font-style: normal
	}
}

.nav {
	margin-top: 1.75rem /* navelements */
}

.nav .nav-elements { /* navbar */
	
}

.nav .nav-elements .branding {
	max-width: 180px;
	margin: 0 auto
}

.nav .nav-elements .navbar {
	margin: 0;
	padding: 0;
	line-height: 120%;
	list-style-type: none;
	margin-top: 2rem;
	width: 100%
}

.nav .nav-elements .navbar a {
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 0 1rem;
	-webkit-transition: 1s ease-out;
	transition: 1s ease-out
}

.nav .nav-elements .navbar a:after {
	content: '';
	display: block;
	height: 5px;
	width: 0;
	margin: 0 .5rem;
	-webkit-transition: width .3s ease-out, background-color .3s ease-out;
	transition: width .3s ease-out, background-color .3s ease-out
}

.nav .nav-elements .navbar a:hover {
	color: #f3d350
}

.nav .nav-elements .navbar a:hover:after {
	width: 100%;
	background: #f3d350
}

@media screen and (min-width:600px) {
	.nav .nav-elements {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media screen and (min-width:600px) {
	.nav .nav-elements .branding {
		width: 30%;
		margin: 0
	}
}

@media screen and (min-width:600px) {
	.nav .nav-elements .navbar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}
/* nav */
.footer {
	background-color: #312a10;
	color: #fff;
	padding: 0 0 5em;
	line-height: 100%;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	background: -webkit-linear-gradient(top, transparent, #312a10),
		url(../images/backgrounds/discthrower.jpg);
	background: linear-gradient(180deg, transparent, #312a10),
		url(../images/backgrounds/discthrower.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 800px
}

.footer .nav {
	margin-top: 0
}

.footer .legal {
	max-width: 700px;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 110%;
	margin-top: 3rem
}

.section {
	min-height: 40vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 160%
}

.section .headline {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4rem;
	margin-top: 3rem;
	line-height: 110%
}

.section a, .section em {
	font-size: 140%;
	vertical-align: -6%
}

@media screen and (min-width:600px) {
	.section {
		font-size: 2rem
	}
}

#history {
	background-color: #f3d350
}

#history .headline {
	color: #d14348
}

#history em {
	color: #e69f2a
}

@media screen and (min-width:1200px) {
	#history {
		background-image: url(../images/employees/HenryTwill_outline.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 30% auto;
		min-height: 100vh
	}
	#history .text-content {
		width: 70%
	}
}

#products { /*.product-list*/
	
}

#products .imageheader {
	background: -webkit-linear-gradient(top, transparent, transparent),
		url(../images/backgrounds/swimming.jpg);
	background: linear-gradient(180deg, transparent, transparent),
		url(../images/backgrounds/swimming.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: inherit;
}

#products .product-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap /*.product-item*/
}

#products .product-list .product-item {
	position: relative;
	color: #fff;
	overflow: hidden;
	width: 50%;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	opacity: .8 /*.product-name*/
}

#products .product-list .product-item .product-name {
	background: #d14348;
	color: #f3d350;
	font-weight: 700;
	font-size: 80%;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none
}

#products .product-list .product-item:focus .product-name, #products .product-list .product-item:hover .product-name
{
	display: block
}

#products .product-list .product-item:focus, #products .product-list .product-item:hover
{
	opacity: 1;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	z-index: 1
}

#products .product-list .product-item:focus .product-name, #products .product-list .product-item:hover .product-name
{
	display: block;
	-webkit-animation: a 1s;
	animation: a 1s;
}

@media screen and (min-width:600px) {
	#products .product-list .product-item {
		width: 33.33333%
	}
}

@media screen and (min-width:900px) {
	#products .product-list .product-item {
		width: 25%
	}
}

@media screen and (min-width:1200px) {
	#products .product-list .product-item {
		width: 16.66667%
	}
}
/* products*/
#guarantee {
	color: #fff;
	font-size: 2rem;
	background-color: #8f9305
}

#guarantee .imageheader {
	background: -webkit-linear-gradient(top, transparent, #8f9305),
		url(../images/backgrounds/cycling.jpg);
	background: linear-gradient(180deg, transparent, #8f9305),
		url(../images/backgrounds/cycling.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 100vh;
	max-height: 60vh
}

#guarantee .headline {
	color: #f5da6a
}

#guarantee a {
	color: #d2d651
}

#people {
	background-color: #e7c84c /*.people-cards*/
}

#people .imageheader {
	background: -webkit-linear-gradient(top, transparent, #e7c84c),
		url(../images/backgrounds/soccer.jpg);
	background: linear-gradient(180deg, transparent, #e7c84c),
		url(../images/backgrounds/soccer.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 100vh;
	max-height: 40vh
}

#people .headline {
	color: #fff;
	padding-bottom: 2rem
}

#people .people-cards { /*.person-card*/
	
}

#people .people-cards .person-card {
	background: hsla(0, 0%, 100%, .2);
	box-shadow: 5px 5px 3px rgba(243, 211, 80, .5);
	border-radius: 20px;
	margin-bottom: 3rem;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	-webkit-transform: scale(.9);
	transform: scale(.9);
	opacity: .8 /*.card-text*/
}

#people .people-cards .person-card .card-info {
	background: rgba(255, 177, 47, .9);
	padding: 3% 7%
}

#people .people-cards .person-card .card-info .card-name {
	font-size: 2rem;
	line-height: 110%;
	color: #d14348
}

#people .people-cards .person-card .card-info .card-title {
	color: hsla(0, 0%, 100%, .6);
	font-size: 1.4rem;
	line-height: 100%
}
/*.card-info*/
#people .people-cards .person-card .card-text {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 130%;
	margin: 0;
	padding: 7%
}

#people .people-cards .person-card .card-text em {
	color: #f2a82d;
	font-size: 2.2rem
}

#people .people-cards .person-card:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 1
}

@media screen and (min-width:600px) {
	#people .people-cards {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media screen and (min-width:600px) {
	#people .people-cards .person-card {
		width: calc(100%/ 2 - 1.5rem)
	}
}

@media screen and (min-width:1200px) {
	#people .people-cards .person-card {
		width: calc(100%/ 3 - 1.5rem)
	}
}
/*.people*/

/*added search product related classes*/
#search {
	color: #fff;
	font-size: 2rem;
	background-color: #8f9305;
}

#search .card-title {
	color: hsla(270, 50%, 25%, .6);
	font-size: 1.4rem;
	line-height: 100%
}

section#products>li>button {
	margin: 5px;
}

/*added form controls classes for register user screen*/
#registration input#username {
	margin: 5px;
}

#registration input#age {
	margin-left: 65px;
}

#registration input#password {
	margin-left: 10px;
}

#registration input[type="submit"]{
	padding: 5px 10px;;
	background-color: #f3d350;
	text-decoration: none;
	border-radius: 5px;
}

#registration label {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: #fff;
	
	
}

section#registration {
	background-color: #8f9305;
}

.productContainer {
	padding: 10px;
	margin: 10px;
}

.productContainerItem {
	margin: 20px;
	position: relative;
	color: #fff;
    float:left;
	width: 25%;
}

.productContainerItem img {
	float: right;
}

.productContainerItem input[type="text"] {
	border: 1px solid white;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: #bfc406; 
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	
}
.productListContainer{
	width: 150px;
}

span#size{
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: #bfc406; 
	font-size: 20px;
	font-weight: 700;
	width: 100%;
}

/*added classes for login screen*/
section#login {
	background-color: #8f9305;
}

#login input#password{
	margin-left: 5px;
}


/*added classes for order history*/
#orderHistory th{
	font-size: 15px;
	background-color: #f3d350;
	text-align: center;
}

#orderHistory td{
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: black; 
	font-size: 15px;
	background-color: #D3D3D3;
	font-weight: bold;
	text-align: center;
	padding: 4px;
}

#profile td{
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: black; 
	font-size: 15px;
	background-color: #D3D3D3;
	font-weight: bold;
	text-align: center;
	padding: 10px;

	
}

#profile table {
		width: 50%;
}

.error{
color:#ff0000;
font-weight: bold;
}


.success{
color:#008000;
}

span{
font-size: 15px;
font-weight: bold;
color:#008000;
}

a.card-title{
font-size: 15px;
font-weight: bold;
color:#008000;
}

table.supercheckout-summary td {
	padding-bottom: 25px;
}

.shopping-confirmation{
	text-align: center;
}
